<h2>Follower Users</h2>
<% if @users.exists? %>
  <%= render '/users/index', users: @users, user: @user, following_users: @following_users, book: @book, follower_users: @follower_users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>